<div class="site-header">
    <div class="container">
      <a href="index.html" class="branding">
        <img src="assets/images/logo.png" alt="" class="logo">
        <div class="logo-type">
          <h1 class="site-title">WW</h1>
          <small class="site-description">weather around the world</small>
        </div>
      </a>

      <!-- Default snippet for navigation -->
      <div class="main-navigation">
        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
        <ul class="menu">
          <li class="menu-item" ><a style="outline: none;" routerLink =""      routerLinkActive = "active">Home</a></li>
          <li class="menu-item" ><a style="outline: none;" routerLink="news"   routerLinkActive = "active">News</a></li>
          <li class="menu-item" ><a style="outline: none;" routerLink="camera" routerLinkActive = "active">Live cameras</a></li>
          <!-- <li class="menu-item" ><a routerLinkActive="active" routerLink="photo">Photos</a></li> -->
         <!-- <li class="menu-item" ><a routerLinkActive="active" routerLink="contact">Contact</a></li> -->
        </ul> <!-- .menu -->
      </div> <!-- .main-navigation -->

      <div class="mobile-navigation">
        <ul class="menu">
          <li class="menu-item" ><a style="outline: none;" routerLink ="">Home</a></li>
          <li class="menu-item" ><a style="outline: none;" routerLinkActive="active" routerLink="news">News</a></li>
          <li class="menu-item" ><a style="outline: none;" routerLinkActive="active" routerLink="camera">Live cameras</a></li>
           <!-- <li class="menu-item" ><a routerLinkActive="active" routerLink="photo">Photos</a></li> -->
          <!--<li class="menu-item" ><a routerLinkActive="active" routerLink="contact">Contact</a></li> -->
        </ul>

      </div>

    </div>
  </div>

